<server>
  <featureManager>
    <feature>mpGraphQL-1.0</feature>
    <feature>mpMetrics-2.3</feature>
    <!-- <feature>jaxrs-2.1</feature> -->
    <!-- <feature>appSecurity-3.0</feature> -->
  </featureManager>

  <mpMetrics authentication="false"/>

  <httpEndpoint id="defaultHttpEndpoint"
                httpPort="${httpPort}"
                httpsPort="${httpsPort}"/>

  <application location="${sampleAppName}.war"/>

  <logging traceSpecification="${traceSpec}" maxFiles="1" />
</server>
